
/* Navigation section */
 #navbar{
    flex-direction: column;
 }

 #navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
    
 }

/* Home section */
 #home{
   height: 370px;
   padding: 3px 65px;
}

#home::before{
   height: 500px;
}

#home p{
    font-size: 13px;
}


/* Services section */
#services{
   flex-direction: column;
   margin: 0px 39px;
}

.h-primary.center {
    margin-top: 5px;
}

#services .box{
   padding: 14px;
   margin: 2px 0px;
   margin-bottom: 20px;
}

/* About us */
#About{
    flex-wrap: wrap;
    height: 50vh;
    width: 50vh;
    display: flex;
    margin: auto;
    
}

.AboutUs{
    margin: 7px 75px;
}

.AboutUs h1{
    margin-bottom: 12px;
    margin-left: 40px;
}


/* Gallery */
#gallery{
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    
}

#gallery img{
    width: 50%;
    height: 50%;
    
}

/* Contact us */
 #contact-box form{
    width: 50%;
 }

/* footer */


/* Utility classes */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}